node_modules
.DS_Store
logs
*.log
npm-debug.log*
.pnpm-debug.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/dist
/build
/coverage
.idea
.vscode
*.swp
*.swo
__pycache__